[Unit]  
Description=Status LED Service
After=network.target phoniebox-rfid-reader.service

[Service]
User=pi
Group=pi
Restart=always
WorkingDirectory=/home/pi/RPi-Jukebox-RFID
ExecStart=/home/pi/RPi-Jukebox-RFID/components/displays/statusLight/i2c_statusLED.py

[Install]
WantedBy=multi-user.target
